<div class="container main-page-div">
  <div class="form-group">
    <h3>Choose Your Facebook Page For Analysis</h3>
    <!--<input type="text" ng-model="dynamicTooltip" class="form-control" placeholder="">-->

    <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
        {{$root.selectedPage.name}}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
        <li ng-repeat="page in $ctrl.pages"><a ng-click="$ctrl.changePageId(page)">{{page.name}}</a></li>
      </ul>
    </div>

  </div>
  <div id="sliders-div">
    <span class="slider-headline">Shares Weight</span>
    <rzslider class="slider" rz-slider-model="$root.shareWeightSlider.value" rz-slider-options="$root.shareWeightSlider.options"></rzslider>
    <span class="slider-headline">Reactions Weight</span>
    <rzslider class="slider" rz-slider-model="$root.reactionsWeight.value" rz-slider-options="$root.reactionsWeight.options"></rzslider>
    <span class="slider-headline">Comments Weight</span>
    <rzslider class="slider" rz-slider-model="$root.commentsWeight.value" rz-slider-options="$root.commentsWeight.options"></rzslider>
  </div>

  <button class="btn-primary btn" ng-click="$ctrl.analyzePage()">Analyze Page</button>
</div>
